In [1]:
import pandas as pd

In [2]:
dataset = pd.read_excel("Aged payable schedule - October 2021.xlsx", \
                       sheet_name = "Creditors Oct21 v051121", \
                       header = None)

In [3]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Vendor,NaN,NaN,NaN,27145,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Company Code,NaN,NaN,NaN,3440,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Name,NaN,NaN,NaN,Bjorn Thorsen A/S,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
dataset[0].unique()

array([nan, ' Vendor', ' Company Code', ' Name', ' City'], dtype=object)

In [5]:
dataset[0] = dataset[0].str.strip()

In [6]:
vendor = dataset.loc[dataset[0]== "Vendor", 4].reset_index(drop = True)

In [7]:
vendor

0        27145
1        27401
2        50535
3       200509
4       200531
5       200532
6       200580
7     34400001
8     34400009
9     34400045
10    34400047
11    34400049
12    34400058
13    34400072
14    34400086
15    34400112
16    34400124
17    34400129
18    34400141
19    34400142
20    34400150
21    34400157
22    34400158
23    34400166
24    34400179
25    34400182
26    34400185
27    34400187
28    34400196
29    34400208
30    34400229
31    34400231
32    34400251
33    34400284
34    34400298
35    34400299
36    34400302
37    34400313
38    34400336
39    34400343
40    34400363
41    34400367
42    34400368
43    34400373
44       C2100
45       C3300
46       C4100
47       C9100
48           *
Name: 4, dtype: object

In [ ]:
vendor = dataset.loc[dataset[0]== "Name", 4].reset_index(drop = True)