In [1]:
import pandas as pd

In [4]:
dataset = \
pd.read_excel("Aged payable schedule - October 2021.xlsx", \
              sheet_name = "Aged creditors Oct21 v051121", header = None)

In [5]:
dataset

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,Biesterfeld Petroplas Ltd Ve...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Oxfordshire ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,MasterData: Company code 3440 Accounting Clerk...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7450,NaN,BusAr,Curr-,Down Payt,NaN,NaN,OI Total,NaN,Typ,From 0,...,NaN,From 61,NaN,NaN,From 91,NaN,NaN,NaN,From 121,NaN
7451,NaN,NaN,ency,NaN,NaN,NaN,NaN,NaN,NaN,To 0,...,NaN,To 90,NaN,NaN,To 120,NaN,NaN,NaN,NaN,NaN
7452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7453,NaN,**,GBP,2697959,NaN,NaN,305912,NaN,Age,-44454,...,NaN,593576,NaN,NaN,91539,NaN,NaN,NaN,110883,NaN

In [23]:
header = dataset[dataset[2] == "Blocked"].index
header

Int64Index([ 300,  447,  495,  780,  828,  860,  966, 1085, 1234, 1913, 1963,
            2013, 2194, 2466, 2742, 3225, 3457, 3561, 3797, 3829, 3991, 4126,
            4158, 4316, 4567, 4632, 4703, 4751, 4920, 5047, 5273, 5320, 5521,
            5782, 5937, 5965, 6034, 6159, 6478, 6617, 6857, 6889, 6921, 6991,
            7127, 7222, 7365, 7410, 7437],
           dtype='int64')

In [24]:
header = header + 3
header

Int64Index([ 303,  450,  498,  783,  831,  863,  969, 1088, 1237, 1916, 1966,
            2016, 2197, 2469, 2745, 3228, 3460, 3564, 3800, 3832, 3994, 4129,
            4161, 4319, 4570, 4635, 4706, 4754, 4923, 5050, 5276, 5323, 5524,
            5785, 5940, 5968, 6037, 6162, 6481, 6620, 6860, 6892, 6924, 6994,
            7130, 7225, 7368, 7413, 7440],
           dtype='int64')

In [26]:
df = dataset.iloc[header]
df

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
303,NaN,NaN,NaN,NaN,0,NaN,NaN,-7746,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450,NaN,NaN,-445127,NaN,0,NaN,NaN,-445127,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,NaN,NaN,1411486,NaN,1411486,NaN,NaN,1411486,NaN,NaN,...,NaN,NaN,610871,NaN,NaN,NaN,90279,NaN,NaN,46380
783,NaN,NaN,NaN,NaN,0,NaN,NaN,-4400,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
831,NaN,NaN,NaN,NaN,0,NaN,NaN,-3150,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
863,NaN,NaN,NaN,NaN,0,NaN,NaN,-5253,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
969,NaN,NaN,-5202,NaN,0,NaN,NaN,80796,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84343
1088,NaN,NaN,NaN,NaN,0,NaN,NaN,-467999,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1237,NaN,NaN,443520,NaN,443520,NaN,NaN,443520,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1916,NaN,NaN,-591,NaN,0,NaN,NaN,-598,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1966,NaN,NaN,-63040,NaN,0,NaN,NaN,-63040,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-11110
2016,NaN,NaN,-137,NaN,0,NaN,NaN,-137,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2197,NaN,NaN,-191,NaN,0,NaN,NaN,-191,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2469,NaN,NaN,NaN,NaN,0,NaN,NaN,-167,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2745,NaN,NaN,-657,NaN,0,NaN,NaN,-657,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3228,NaN,NaN,NaN,NaN,0,NaN,NaN,-1440,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3460,NaN,NaN,NaN,NaN,0,NaN,NaN,-143,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3564,NaN,NaN,-12600,NaN,0,NaN,NaN,-3780,NaN,NaN,...,NaN,NaN,1260,NaN,NaN,NaN,1260,NaN,NaN,-8820
3800,NaN,NaN,NaN,NaN,0,NaN,NaN,-241943,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3832,NaN,NaN,NaN,NaN,0,NaN,NaN,-52156,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3994,NaN,NaN,NaN,NaN,0,NaN,NaN,-633,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4129,NaN,NaN,-623,NaN,0,NaN,NaN,-623,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4161,NaN,NaN,NaN,NaN,0,NaN,NaN,-2240,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4319,NaN,NaN,NaN,NaN,0,NaN,NaN,-143816,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4570,NaN,NaN,-185,NaN,0,NaN,NaN,-185,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4635,NaN,NaN,-81,NaN,0,NaN,NaN,-81,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4706,NaN,NaN,NaN,NaN,0,NaN,NaN,-7356,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4754,NaN,NaN,405722,NaN,405722,NaN,NaN,405722,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4923,NaN,NaN,NaN,NaN,0,NaN,NaN,-142551,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5050,NaN,NaN,-18,NaN,0,NaN,NaN,72,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90
5276,NaN,NaN,NaN,NaN,0,NaN,NaN,-15268,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5323,NaN,NaN,NaN,NaN,0,NaN,NaN,-51483,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5524,NaN,NaN,NaN,NaN,0,NaN,NaN,-777,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5785,NaN,NaN,437231,NaN,437231,NaN,NaN,437231,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5940,NaN,NaN,NaN,NaN,0,NaN,NaN,-381600,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5968,NaN,NaN,NaN,NaN,0,NaN,NaN,-45850,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6037,NaN,NaN,-1887,NaN,0,NaN,NaN,-1887,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6162,NaN,NaN,NaN,NaN,0,NaN,NaN,-4435,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6481,NaN,NaN,NaN,NaN,0,NaN,NaN,-60,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6620,NaN,NaN,NaN,NaN,0,NaN,NaN,-310,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6860,NaN,NaN,-1423,NaN,0,NaN,NaN,-1423,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6892,NaN,NaN,-105,NaN,0,NaN,NaN,-105,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6924,NaN,NaN,NaN,NaN,0,NaN,NaN,-42,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6994,NaN,NaN,NaN,NaN,0,NaN,NaN,-468,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7130,NaN,NaN,NaN,NaN,0,NaN,NaN,-90101,NaN,NaN,...,NaN,NaN,-18555,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7225,NaN,NaN,NaN,NaN,0,NaN,NaN,-258370,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7368,NaN,NaN,NaN,NaN,0,NaN,NaN,-20216,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7413,NaN,NaN,NaN,NaN,0,NaN,NaN,-5109,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7440,NaN,NaN,2166094,NaN,2697959,NaN,NaN,305912,NaN,NaN,...,NaN,NaN,593576,NaN,NaN,NaN,91539,NaN,NaN,110883

In [29]:
df = dataset[dataset[10] == "Age"]

In [32]:
df = df[[1,2,4,7,10,11,13,16,20,24,27]]

In [34]:
df.columns = ["BusAr","Blocked","Down Payt","OI Total","Typ","From 0 to 0","From 1 to 30",\
             "From 31 to 60","From 61 to 90","From 91 to 120","From 121"]

In [38]:
df.reset_index(drop = True, inplace = True)

In [39]:
df

,BusAr,Blocked,Down Payt,OI Total,Typ,From 0 to 0,From 1 to 30,From 31 to 60,From 61 to 90,From 91 to 120,From 121
0,NaN,NaN,0,-7746,Age,NaN,-7746,NaN,NaN,NaN,NaN
1,NaN,-445127,0,-445127,Age,NaN,NaN,-445127,NaN,NaN,NaN
2,NaN,1411486,1411486,1411486,Age,NaN,315206,348750,610871,90279,46380
3,NaN,NaN,0,-4400,Age,-50,-4350,NaN,NaN,NaN,NaN
4,NaN,NaN,0,-3150,Age,NaN,-3150,NaN,NaN,NaN,NaN
5,NaN,NaN,0,-5253,Age,NaN,-5253,NaN,NaN,NaN,NaN
6,NaN,-5202,0,80796,Age,NaN,-3547,NaN,NaN,NaN,84343
7,NaN,NaN,0,-467999,Age,NaN,-353535,-114465,NaN,NaN,NaN
8,NaN,443520,443520,443520,Age,NaN,443520,NaN,NaN,NaN,NaN
9,NaN,-591,0,-598,Age,NaN,-598,NaN,NaN,NaN,NaN
10,NaN,-63040,0,-63040,Age,NaN,-51930,NaN,NaN,NaN,-11110
11,NaN,-137,0,-137,Age,NaN,-137,NaN,NaN,NaN,NaN
12,NaN,-191,0,-191,Age,NaN,-191,NaN,NaN,NaN,NaN
13,NaN,NaN,0,-167,Age,NaN,-167,NaN,NaN,NaN,NaN
14,NaN,-657,0,-657,Age,NaN,-657,NaN,NaN,NaN,NaN
15,NaN,NaN,0,-1440,Age,NaN,-1440,NaN,NaN,NaN,NaN
16,NaN,NaN,0,-143,Age,NaN,-143,NaN,NaN,NaN,NaN
17,NaN,-12600,0,-3780,Age,NaN,1260,1260,1260,1260,-8820
18,NaN,NaN,0,-241943,Age,NaN,-121836,-120107,NaN,NaN,NaN
19,NaN,NaN,0,-52156,Age,-29300,-22856,NaN,NaN,NaN,NaN
20,NaN,NaN,0,-633,Age,NaN,-633,NaN,NaN,NaN,NaN
21,NaN,-623,0,-623,Age,NaN,-623,NaN,NaN,NaN,NaN
22,NaN,NaN,0,-2240,Age,-940,-1300,NaN,NaN,NaN,NaN
23,NaN,NaN,0,-143816,Age,NaN,-143816,NaN,NaN,NaN,NaN
24,NaN,-185,0,-185,Age,-185,NaN,NaN,NaN,NaN,NaN
25,NaN,-81,0,-81,Age,NaN,-81,NaN,NaN,NaN,NaN
26,NaN,NaN,0,-7356,Age,-831,-6525,NaN,NaN,NaN,NaN
27,NaN,405722,405722,405722,Age,NaN,343296,62426,NaN,NaN,NaN
28,NaN,NaN,0,-142551,Age,NaN,-72825,-69726,NaN,NaN,NaN
29,NaN,-18,0,72,Age,NaN,-18,NaN,NaN,NaN,90
30,NaN,NaN,0,-15268,Age,-7821,-7447,NaN,NaN,NaN,NaN
31,NaN,NaN,0,-51483,Age,NaN,-51483,NaN,NaN,NaN,NaN
32,NaN,NaN,0,-777,Age,NaN,-777,NaN,NaN,NaN,NaN
33,NaN,437231,437231,437231,Age,NaN,324094,113137,NaN,NaN,NaN
34,NaN,NaN,0,-381600,Age,NaN,-239292,-142308,NaN,NaN,NaN
35,NaN,NaN,0,-45850,Age,NaN,-45850,NaN,NaN,NaN,NaN
36,NaN,-1887,0,-1887,Age,NaN,-1887,NaN,NaN,NaN,NaN
37,NaN,NaN,0,-4435,Age,NaN,-4435,NaN,NaN,NaN,NaN
38,NaN,NaN,0,-60,Age,NaN,-60,NaN,NaN,NaN,NaN
39,NaN,NaN,0,-310,Age,NaN,-310,NaN,NaN,NaN,NaN
40,NaN,-1423,0,-1423,Age,NaN,-1423,NaN,NaN,NaN,NaN
41,NaN,-105,0,-105,Age,NaN,-105,NaN,NaN,NaN,NaN
42,NaN,NaN,0,-42,Age,NaN,-42,NaN,NaN,NaN,NaN
43,NaN,NaN,0,-468,Age,-218,-250,NaN,NaN,NaN,NaN
44,NaN,NaN,0,-90101,Age,NaN,-25176,-46370,-18555,NaN,NaN
45,NaN,NaN,0,-258370,Age,NaN,-258370,NaN,NaN,NaN,NaN
46,NaN,NaN,0,-20216,Age,NaN,-16738,-3478,NaN,NaN,NaN
47,NaN,NaN,0,-5109,Age,-5109,NaN,NaN,NaN,NaN,NaN
48,NaN,2166094,2697959,305912,Age,-44454,-29624,-416008,593576,91539,110883

In [41]:
header = dataset[dataset[2] == "Blocked"].index
header

Int64Index([ 300,  447,  495,  780,  828,  860,  966, 1085, 1234, 1913, 1963,
            2013, 2194, 2466, 2742, 3225, 3457, 3561, 3797, 3829, 3991, 4126,
            4158, 4316, 4567, 4632, 4703, 4751, 4920, 5047, 5273, 5320, 5521,
            5782, 5937, 5965, 6034, 6159, 6478, 6617, 6857, 6889, 6921, 6991,
            7127, 7222, 7365, 7410, 7437],
           dtype='int64')

In [42]:
vendor = header - 2

In [46]:
dataset.iloc[vendor,1]

298     OI Sorted List Company Code 3440, Accounting C...
445     OI Sorted List Company Code 3440, Accounting C...
493     OI Sorted List Company Code 3440, Accounting C...
778     OI Sorted List Company Code 3440, Accounting C...
826     OI Sorted List Company Code 3440, Accounting C...
858     OI Sorted List Company Code 3440, Accounting C...
964     OI Sorted List Company Code 3440, Accounting C...
1083    OI Sorted List Company Code 3440, Accounting C...
1232    OI Sorted List Company Code 3440, Accounting C...
1911    OI Sorted List Company Code 3440, Accounting C...
1961    OI Sorted List Company Code 3440, Accounting C...
2011    OI Sorted List Company Code 3440, Accounting C...
2192    OI Sorted List Company Code 3440, Accounting C...
2464    OI Sorted List Company Code 3440, Accounting C...
2740    OI Sorted List Company Code 3440, Accounting C...
3223    OI Sorted List Company Code 3440, Accounting C...
3455    OI Sorted List Company Code 3440, Accounting C...
3559    OI Sorted List Company Code 3440, Accounting C...
3795    OI Sorted List Company Code 3440, Accounting C...
3827    OI Sorted List Company Code 3440, Accounting C...
3989    OI Sorted List Company Code 3440, Accounting C...
4124    OI Sorted List Company Code 3440, Accounting C...
4156    OI Sorted List Company Code 3440, Accounting C...
4314    OI Sorted List Company Code 3440, Accounting C...
4565    OI Sorted List Company Code 3440, Accounting C...
4630    OI Sorted List Company Code 3440, Accounting C...
4701    OI Sorted List Company Code 3440, Accounting C...
4749    OI Sorted List Company Code 3440, Accounting C...
4918    OI Sorted List Company Code 3440, Accounting C...
5045    OI Sorted List Company Code 3440, Accounting C...
5271    OI Sorted List Company Code 3440, Accounting C...
5318    OI Sorted List Company Code 3440, Accounting C...
5519    OI Sorted List Company Code 3440, Accounting C...
5780    OI Sorted List Company Code 3440, Accounting C...
5935    OI Sorted List Company Code 3440, Accounting C...
5963    OI Sorted List Company Code 3440, Accounting C...
6032    OI Sorted List Company Code 3440, Accounting C...
6157    OI Sorted List Company Code 3440, Accounting C...
6476    OI Sorted List Company Code 3440, Accounting C...
6615    OI Sorted List Company Code 3440, Accounting C...
6855    OI Sorted List Company Code 3440, Accounting C...
6887    OI Sorted List Company Code 3440, Accounting C...
6919    OI Sorted List Company Code 3440, Accounting C...
6989    OI Sorted List Company Code 3440, Accounting C...
7125    OI Sorted List Company Code 3440, Accounting C...
7220    OI Sorted List Company Code 3440, Accounting C...
7363    OI Sorted List Company Code 3440, Accounting C...
7408    OI Sorted List Company Code 3440, Accounting C...
7435    Company Code 3440 Totals Sheet, Key date 31.10...
Name: 1, dtype: object

In [53]:
title = dataset.loc[dataset[1].str.startswith("OI") == True,1]

In [68]:
vendor = title.str.extract(r"[Vv]endor\s(\w+)").reset_index(drop=True)[0]

In [69]:
# df["Vendor"] = vendor

In [70]:
df.insert(0,"Vendor",vendor)

In [71]:
df

,Vendor,BusAr,Blocked,Down Payt,OI Total,Typ,From 0 to 0,From 1 to 30,From 31 to 60,From 61 to 90,From 91 to 120,From 121
0,0000027145,NaN,NaN,0,-7746,Age,NaN,-7746,NaN,NaN,NaN,NaN
1,0000027401,NaN,-445127,0,-445127,Age,NaN,NaN,-445127,NaN,NaN,NaN
2,0000050535,NaN,1411486,1411486,1411486,Age,NaN,315206,348750,610871,90279,46380
3,0000200509,NaN,NaN,0,-4400,Age,-50,-4350,NaN,NaN,NaN,NaN
4,0000200531,NaN,NaN,0,-3150,Age,NaN,-3150,NaN,NaN,NaN,NaN
5,0000200532,NaN,NaN,0,-5253,Age,NaN,-5253,NaN,NaN,NaN,NaN
6,0000200580,NaN,-5202,0,80796,Age,NaN,-3547,NaN,NaN,NaN,84343
7,0034400001,NaN,NaN,0,-467999,Age,NaN,-353535,-114465,NaN,NaN,NaN
8,0034400009,NaN,443520,443520,443520,Age,NaN,443520,NaN,NaN,NaN,NaN
9,0034400045,NaN,-591,0,-598,Age,NaN,-598,NaN,NaN,NaN,NaN
10,0034400047,NaN,-63040,0,-63040,Age,NaN,-51930,NaN,NaN,NaN,-11110
11,0034400049,NaN,-137,0,-137,Age,NaN,-137,NaN,NaN,NaN,NaN
12,0034400058,NaN,-191,0,-191,Age,NaN,-191,NaN,NaN,NaN,NaN
13,0034400072,NaN,NaN,0,-167,Age,NaN,-167,NaN,NaN,NaN,NaN
14,0034400086,NaN,-657,0,-657,Age,NaN,-657,NaN,NaN,NaN,NaN
15,0034400112,NaN,NaN,0,-1440,Age,NaN,-1440,NaN,NaN,NaN,NaN
16,0034400124,NaN,NaN,0,-143,Age,NaN,-143,NaN,NaN,NaN,NaN
17,0034400129,NaN,-12600,0,-3780,Age,NaN,1260,1260,1260,1260,-8820
18,0034400141,NaN,NaN,0,-241943,Age,NaN,-121836,-120107,NaN,NaN,NaN
19,0034400142,NaN,NaN,0,-52156,Age,-29300,-22856,NaN,NaN,NaN,NaN
20,0034400150,NaN,NaN,0,-633,Age,NaN,-633,NaN,NaN,NaN,NaN
21,0034400157,NaN,-623,0,-623,Age,NaN,-623,NaN,NaN,NaN,NaN
22,0034400158,NaN,NaN,0,-2240,Age,-940,-1300,NaN,NaN,NaN,NaN
23,0034400166,NaN,NaN,0,-143816,Age,NaN,-143816,NaN,NaN,NaN,NaN
24,0034400179,NaN,-185,0,-185,Age,-185,NaN,NaN,NaN,NaN,NaN
25,0034400182,NaN,-81,0,-81,Age,NaN,-81,NaN,NaN,NaN,NaN
26,0034400185,NaN,NaN,0,-7356,Age,-831,-6525,NaN,NaN,NaN,NaN
27,0034400187,NaN,405722,405722,405722,Age,NaN,343296,62426,NaN,NaN,NaN
28,0034400196,NaN,NaN,0,-142551,Age,NaN,-72825,-69726,NaN,NaN,NaN
29,0034400208,NaN,-18,0,72,Age,NaN,-18,NaN,NaN,NaN,90
30,0034400229,NaN,NaN,0,-15268,Age,-7821,-7447,NaN,NaN,NaN,NaN
31,0034400231,NaN,NaN,0,-51483,Age,NaN,-51483,NaN,NaN,NaN,NaN
32,0034400251,NaN,NaN,0,-777,Age,NaN,-777,NaN,NaN,NaN,NaN
33,0034400284,NaN,437231,437231,437231,Age,NaN,324094,113137,NaN,NaN,NaN
34,0034400298,NaN,NaN,0,-381600,Age,NaN,-239292,-142308,NaN,NaN,NaN
35,0034400299,NaN,NaN,0,-45850,Age,NaN,-45850,NaN,NaN,NaN,NaN
36,0034400302,NaN,-1887,0,-1887,Age,NaN,-1887,NaN,NaN,NaN,NaN
37,0034400313,NaN,NaN,0,-4435,Age,NaN,-4435,NaN,NaN,NaN,NaN
38,0034400336,NaN,NaN,0,-60,Age,NaN,-60,NaN,NaN,NaN,NaN
39,0034400343,NaN,NaN,0,-310,Age,NaN,-310,NaN,NaN,NaN,NaN
40,0034400363,NaN,-1423,0,-1423,Age,NaN,-1423,NaN,NaN,NaN,NaN
41,0034400367,NaN,-105,0,-105,Age,NaN,-105,NaN,NaN,NaN,NaN
42,0034400368,NaN,NaN,0,-42,Age,NaN,-42,NaN,NaN,NaN,NaN
43,0034400373,NaN,NaN,0,-468,Age,-218,-250,NaN,NaN,NaN,NaN
44,C2100,NaN,NaN,0,-90101,Age,NaN,-25176,-46370,-18555,NaN,NaN
45,C3300,NaN,NaN,0,-258370,Age,NaN,-258370,NaN,NaN,NaN,NaN
46,C4100,NaN,NaN,0,-20216,Age,NaN,-16738,-3478,NaN,NaN,NaN
47,C9100,NaN,NaN,0,-5109,Age,-5109,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,2166094,2697959,305912,Age,-44454,-29624,-416008,593576,91539,110883

In [74]:
address = header - 16

In [76]:
dataset.iloc[address]

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
431,NaN,Address(2):,NaN,NaN,NaN,One St Peters Square,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
479,NaN,Address,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
764,NaN,Address(2):,NaN,NaN,NaN,Unit 1 A Westgate One,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
812,NaN,Address(2):,NaN,NaN,NaN,1 Roundwood Avenue,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
844,NaN,Address(3):,NaN,NaN,NaN,Milton Park,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
950,NaN,Address(3):,NaN,NaN,NaN,Government Offices,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1218,NaN,Address(1):,NaN,NaN,NaN,"LG Chem, Ltd.",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1897,NaN,Address(1):,NaN,NaN,NaN,Guy Payne,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1947,NaN,Address(2):,NaN,NaN,NaN,21 Victoria Avenue,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997,NaN,Address(2):,NaN,NaN,NaN,Brunswick,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2178,NaN,Address(2):,NaN,NaN,NaN,Sulhamstead Abbots The Courty,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2450,NaN,Address(1):,NaN,NaN,NaN,Richard Kirby,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2726,NaN,Address(2):,NaN,NaN,NaN,Pembroke H,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3209,NaN,Address(2):,NaN,NaN,NaN,"5 Bath Place, Rivington Street",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3441,NaN,Address(2):,NaN,NaN,NaN,The Glenmo Grove Technology Park,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3545,NaN,Address(2):,NaN,NaN,NaN,PO BOX 161,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3781,NaN,Address(1):,NaN,NaN,NaN,Firma,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3813,NaN,Address(3):,NaN,NaN,NaN,Hackling H Bourton Ind Park,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3975,NaN,Address(2):,NaN,NaN,NaN,. .,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4110,NaN,Address(2):,NaN,NaN,NaN,6F Milton Park,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4142,NaN,Address(3):,NaN,NaN,NaN,14 Millers Way,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4300,NaN,Address,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4551,NaN,Address(2):,NaN,NaN,NaN,1 Trinity Court,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4616,NaN,Address(1):,NaN,NaN,NaN,Frama UK Limited,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4687,NaN,Address(3):,NaN,NaN,NaN,"Westpoint Business Park, Navan Road",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4735,NaN,Address(1):,NaN,NaN,NaN,LG Chem Europe GmbH,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4904,NaN,Address,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5031,NaN,Address(3):,NaN,NaN,NaN,23 Keats Way,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5257,NaN,Address(2):,NaN,NaN,NaN,PO Box 28 India Buildings,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5304,NaN,Address(2):,NaN,NaN,NaN,Middlesbrough Road East,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5505,NaN,Address(2):,NaN,NaN,NaN,"Hawley Mill, Hawley Road",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5766,NaN,Address,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5921,NaN,Address,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5949,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6018,NaN,Address(2):,NaN,NaN,NaN,Heathside Park Road,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6143,NaN,Address(3):,NaN,NaN,NaN,Chester Business Park,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6462,NaN,Address(2):,NaN,NaN,NaN,12 Royal Palace Close,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6601,NaN,Address,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6841,NaN,Address(2):,NaN,NaN,NaN,165 Bath Road,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6873,NaN,Address(3):,NaN,NaN,NaN,Hambridge Lane,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6905,NaN,Address(3):,NaN,NaN,NaN,Unit 4 Oakfield Industrial Estate,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6975,NaN,Address(3):,NaN,NaN,NaN,Hackling H Bourton Ind Park,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7111,NaN,Address,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7206,NaN,Address,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7349,NaN,Address,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7394,NaN,Address,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7421,NaN,Label 1,NaN,NaN,NaN,Content1,NaN,NaN,NaN,NaN,...,Content3,NaN,NaN,Name 4,NaN,Content,NaN,Name,Content5,NaN

In [84]:
address_index = []
ind = 0
count = 0

for i in dataset[1]:
    if i == "Address(1):":
        ind = count # ind = 288
    if i == "BusAr":
        address_index.append(ind)
    count += 1

In [85]:
len(address_index)

50

In [89]:
address = dataset.iloc[address_index,5].reset_index(drop=True)

In [90]:
df.insert(1,"Address(1)",address)

In [91]:
df

,Vendor,Address(1),BusAr,Blocked,Down Payt,OI Total,Typ,From 0 to 0,From 1 to 30,From 31 to 60,From 61 to 90,From 91 to 120,From 121
0,0000027145,Bjorn Thorsen A/S,NaN,NaN,0,-7746,Age,NaN,-7746,NaN,NaN,NaN,NaN
1,0000027401,Borealis UK Limited,NaN,-445127,0,-445127,Age,NaN,NaN,-445127,NaN,NaN,NaN
2,0000050535,CHIMEI CORPORATION,NaN,1411486,1411486,1411486,Age,NaN,315206,348750,610871,90279,46380
3,0000200509,Mapcargo International Limited,NaN,NaN,0,-4400,Age,-50,-4350,NaN,NaN,NaN,NaN
4,0000200531,Kuehne Nagel Ltd,NaN,NaN,0,-3150,Age,NaN,-3150,NaN,NaN,NaN,NaN
5,0000200532,Snetor UK Limited,NaN,NaN,0,-5253,Age,NaN,-5253,NaN,NaN,NaN,NaN
6,0000200580,Revenue Customs Eire Ireland,NaN,-5202,0,80796,Age,NaN,-3547,NaN,NaN,NaN,84343
7,0034400001,Chevron Phillips Chemicals Int,NaN,NaN,0,-467999,Age,NaN,-353535,-114465,NaN,NaN,NaN
8,0034400009,"LG Chem, Ltd.",NaN,443520,443520,443520,Age,NaN,443520,NaN,NaN,NaN,NaN
9,0034400045,Guy Payne,NaN,-591,0,-598,Age,NaN,-598,NaN,NaN,NaN,NaN
10,0034400047,HM CUSTOMS & EXCISE,NaN,-63040,0,-63040,Age,NaN,-51930,NaN,NaN,NaN,-11110
11,0034400049,DPD Local,NaN,-137,0,-137,Age,NaN,-137,NaN,NaN,NaN,NaN
12,0034400058,Nizar Kagzi,NaN,-191,0,-191,Age,NaN,-191,NaN,NaN,NaN,NaN
13,0034400072,Richard Kirby,NaN,NaN,0,-167,Age,NaN,-167,NaN,NaN,NaN,NaN
14,0034400086,Vodafone Retail Ltd,NaN,-657,0,-657,Age,NaN,-657,NaN,NaN,NaN,NaN
15,0034400112,British Plastics Federation,NaN,NaN,0,-1440,Age,NaN,-1440,NaN,NaN,NaN,NaN
16,0034400124,Calber Facilities Management Ltd,NaN,NaN,0,-143,Age,NaN,-143,NaN,NaN,NaN,NaN
17,0034400129,Vale of White Horse District Counci,NaN,-12600,0,-3780,Age,NaN,1260,1260,1260,1260,-8820
18,0034400141,Firma,NaN,NaN,0,-241943,Age,NaN,-121836,-120107,NaN,NaN,NaN
19,0034400142,John Hackling (Transport) Ltd,NaN,NaN,0,-52156,Age,-29300,-22856,NaN,NaN,NaN,NaN
20,0034400150,David Carpenter,NaN,NaN,0,-633,Age,NaN,-633,NaN,NaN,NaN,NaN
21,0034400157,Craig Horn,NaN,-623,0,-623,Age,NaN,-623,NaN,NaN,NaN,NaN
22,0034400158,Frau,NaN,NaN,0,-2240,Age,-940,-1300,NaN,NaN,NaN,NaN
23,0034400166,Gulf Polymers Distribution Co FZCO,NaN,NaN,0,-143816,Age,NaN,-143816,NaN,NaN,NaN,NaN
24,0034400179,Premier Inn Business Account,NaN,-185,0,-185,Age,-185,NaN,NaN,NaN,NaN,NaN
25,0034400182,Frama UK Limited,NaN,-81,0,-81,Age,NaN,-81,NaN,NaN,NaN,NaN
26,0034400185,Rhenus Chemical Logistics,NaN,NaN,0,-7356,Age,-831,-6525,NaN,NaN,NaN,NaN
27,0034400187,LG Chem Europe GmbH,NaN,405722,405722,405722,Age,NaN,343296,62426,NaN,NaN,NaN
28,0034400196,Indorama Ventures Europe B.V.,NaN,NaN,0,-142551,Age,NaN,-72825,-69726,NaN,NaN,NaN
29,0034400208,Herren,NaN,-18,0,72,Age,NaN,-18,NaN,NaN,NaN,90
30,0034400229,Denholm UK Logistics Ltd,NaN,NaN,0,-15268,Age,-7821,-7447,NaN,NaN,NaN,NaN
31,0034400231,Bertschi UK Ltd,NaN,NaN,0,-51483,Age,NaN,-51483,NaN,NaN,NaN,NaN
32,0034400251,MA Business Ltd,NaN,NaN,0,-777,Age,NaN,-777,NaN,NaN,NaN,NaN
33,0034400284,Hanwha Total Petrochemical,NaN,437231,437231,437231,Age,NaN,324094,113137,NaN,NaN,NaN
34,0034400298,MOL Petrochemicals Private Company,NaN,NaN,0,-381600,Age,NaN,-239292,-142308,NaN,NaN,NaN
35,0034400299,"SLOVNAFT, a.s",NaN,NaN,0,-45850,Age,NaN,-45850,NaN,NaN,NaN,NaN
36,0034400302,Lex Autolease Limited,NaN,-1887,0,-1887,Age,NaN,-1887,NaN,NaN,NaN,NaN
37,0034400313,Interplas Events Ltd,NaN,NaN,0,-4435,Age,NaN,-4435,NaN,NaN,NaN,NaN
38,0034400336,Julian Ferries,NaN,NaN,0,-60,Age,NaN,-60,NaN,NaN,NaN,NaN
39,0034400343,Jost Chemicals GmbH,NaN,NaN,0,-310,Age,NaN,-310,NaN,NaN,NaN,NaN
40,0034400363,LeasePlan UK Limited,NaN,-1423,0,-1423,Age,NaN,-1423,NaN,NaN,NaN,NaN
41,0034400367,JC Payroll Services Limited,NaN,-105,0,-105,Age,NaN,-105,NaN,NaN,NaN,NaN
42,0034400368,The Red Corner Document,NaN,NaN,0,-42,Age,NaN,-42,NaN,NaN,NaN,NaN
43,0034400373,John Hackling (Transport) Ltd T/A,NaN,NaN,0,-468,Age,-218,-250,NaN,NaN,NaN,NaN
44,C2100,Biesterfeld Spezialchemie GmbH,NaN,NaN,0,-90101,Age,NaN,-25176,-46370,-18555,NaN,NaN
45,C3300,Biesterfeld Plastic GmbH,NaN,NaN,0,-258370,Age,NaN,-258370,NaN,NaN,NaN,NaN
46,C4100,Biesterfeld Performance Rubber GmbH,NaN,NaN,0,-20216,Age,NaN,-16738,-3478,NaN,NaN,NaN
47,C9100,Biesterfeld AG,NaN,NaN,0,-5109,Age,-5109,NaN,NaN,NaN,NaN,NaN
48,NaN,BIT-SERV GmbH,NaN,2166094,2697959,305912,Age,-44454,-29624,-416008,593576,91539,110883

In [92]:
df.to_csv("Clean Data.csv", index = False)